<div class="panel">
    <table class="table">
        <thead>
        <tr>
            <th>S.No</th>
            <th>Image</th>
            <th>Model</th>
            <th>Make</th>
            <th>Year</th>
            <th>Price</th>
            <th>
                <button class="btn btn-primary" ng-click="compare()">Compare</button>
            </th>
            <th>

                <input class="form-control col-xs-2" placeholder="search"
                       ng-model="searchCriteria"  />
            </th>
            <th>   <button class="btn btn-primary" ng-click="search()">Search</button>
            </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="car in newCars track by $index">
            <td>{{$index+1}}</td>
            <td><img src="{{car.image}}" class="img-rounded" alt="Cinque Terre" width="304" height="236"></td>
            <td>{{car.model}}</td>
            <td>{{car.make|uppercase}}</td>
            <td>{{car.year}}</td>
            <td>{{car.price|currency:'$'}}</td>
            <td><input type="checkbox" ng-model="car.isCompared"></td>
            <td><button class="btn btn-primary">Edit</button></td>
        </tr>
        </tbody>
    </table>
</div>